@charset 'utf-8';
@import './reset.scss';

.section {
  height: 100vh;
  min-height: 100vh;
  background: url('../images/loading_bg.jpg') no-repeat 50% 50%;
  background-size: cover;
  &.load {
    position: relative;
    .center {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-55%);
      -ms-transform: translateX(-50%) translateY(-55%);
      transform: translateX(-50%) translateY(-55%);
      &_textWrap {
        text-align: center;
        margin-bottom: 40px;
        &_text {
          font-size: 1.25em;
          line-height: 1.4;
          margin-bottom: 10px;
        }
      }
      .scene {
        perspective: 600px;
        -webkit-perspective: 600px;
        -ms-perspective: 600px;
        -moz-perspective: 600px;
        -o-perspective: 600px;
        margin: 0 auto;
        width: 170px;
        height: 291px;
        .card {
          transform-style: preserve-3d;
          -webkit-animation: flipY 2s infinite;
          animation: flipY 2s infinite;
          -webkit-transition: -webkit-transform 1s;
          transition: -webkit-transform 1s;
          -o-transition: transform 1s;
          transition: transform 1s;
          transition: transform 1s, -webkit-transform 1s;
          -webkit-transform-style: preserve-3d;
          -ms-transform-style: preserve-3d;
          -moz-transform-style: preserve-3d;
          -o-transform-style: preserve-3d;
          position: relative;
          height: 100%;
          &_img {
            position: absolute;
            top: 0;
            left: 0;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

/* Flip Animation */
@-webkit-keyframes flipY {
  from {
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
  }

  to {
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
  }
}
@keyframes flipY {
  from {
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
  }

  to {
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
  }
}
